<style>
.calendar {
    margin: 0px auto;
    width: 80px;
    height: 70px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    background: #E6E6E6;
    }

.header {
    height: 20px;
    background: #e74c3c;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
  width: 100%;
    text-align: center;
    font-size: 14px;
    color: #FFF;
  line-height: 20px
    }

.num-day {
    height: 36px;
    font-size: 34px;
    color: #333;
    text-align: center
    }

.header:before {
    background: #333;
    height: 5px;
    width: 5px;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 2px
    }

.header:after {
    background: #333;
    height: 5px;
    width: 5px;
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 2px
    }

figure{
    border-radius:10px;
    overflow:hidden;
}
</style>

<body id="top">
<header id="home">

  <section class="hero" id="hero">
    <div class="container">

      <div class="row" style="margin-top: -190px;">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <%= image_tag('logo.png', class: 'animated fadeInDown delay-05s box-hover', height: 250) %>
          <!--<h1 class="animated fadeInUp delay-05s">FASKYN<span></span></h1>-->
          <!--<p class="animated fadeInUp delay-05s">juwelen door Anneke Fasseel</p>-->
        </div>
      </div>
      <br>

    </div>
  </section>
</header>
<section class="features text-center section-padding" id="features">
  <div class="container">
  	<div class="row" style="margin-top: -60px;">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1 class="arrow">Over Faskyn</h1>
        <p>Na 10 jaar gepassioneerd juwelen maken als hobby heb ik de grote stap gezet mijn eigen zaak op te richten. Bij Faskyn kan u terecht voor een uitgebreid creatief assortiment; verjaardagsfeestjes, workshops, cursussen, juwelen op maat en herstellingen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: -80px">
        <div class="features-wrapper" style="margin-top: px;">
          <div class="col-md-4 wp2">
            <a href="/shop"><div class="icon box-hover">
              <i class="fa fa-shopping-cart shadow"></i>
            </div></a>
            <h2 class="h2lined">Webshop</h2>
            <p>In de <a href="/shop">webshop</a> kan je eenvoudig juwelen bestellen die afgehaald of verzonden kunnen worden.</p>
          </div>
          <div class="col-md-4 wp2 delay-05s">
            <div class="icon box-hover">
              <i class="fa fa-wrench shadow"></i>
            </div>
            <h2 class="h2lined">Juwelen op maat</h2>
            <p>Vind je niet meteen wat je zoekt? Geef een seintje via <a href="mailto:anneke@faskyn.be">mail</a> en we bekijken samen de ongetwijfeld uitgebreide mogelijkheden.</p>
          </div>
          <div class="col-md-4 wp2 delay-1s">
            <div class="icon box-hover">
              <i class="fa fa-recycle shadow"></i>
            </div>
            <h2 class="h2lined">Herstellingen</h2>
            <p>Je juweel is beschadigd? We doen ons uiterste best om je ring, ketting of oorbellen er weer als nieuw te laten uitzien! <a href="#" data-toggle="modal" data-target="#herstellingenModal">Meer info...</a></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="herstellingenModal" tabindex="-1" role="dialog" aria-labelledby="herstellingenModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="myModalLabel">Herstellingen</h3>
      </div>
      <div class="modal-body">
        <h4>Juwelen bij Faskyn aangekocht</h4>
        <p>Juwelen die bij ons werden aangekocht worden <strong>gratis</strong> hersteld. Enkel materiaal wordt aangerekend.</p>
        <h4>Andere juwelen</h4>
        <p>Voor andere juwelen wordt er een standaardkost van &euro;5 aangerekend, naast het eventueel te vervangen materiaal. Voor het knopen van korte enkele parelkettingen bedraagt de kost &euro;15.</p>
      </div>
    </div>
  </div>
</div>

<section class="swag text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1><em>"I have enough jewelry"</em><span>said no one ever</span></h1>
        <a href="#sect2" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
      </div>
    </div>
  </div>
</section>

<a name="sect2"></a>
<section class="features text-center section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-bottom: -60px">
        <div class="features-wrapper" style="margin-top: -20px;">
          <div class="col-md-3 wp4">
            <a href="#" data-toggle="modal" data-target="#workshopModal"><div class="icon box-hover">
              <i class="fa fa-users shadow"></i>
            </div></a>
            <h2><a href="#" data-toggle="modal" data-target="#workshopModal">Workshop</a></h2>
          </div>
          <div class="col-md-3 wp4 delay-04s">
            <a href="#" data-toggle="modal" data-target="#homepartyModal"><div class="icon box-hover">
              <i class="fa fa-glass shadow"></i>
            </div></a>
            <h2><a href="#" data-toggle="modal" data-target="#homepartyModal">Home party</a></h2>
            <!--<p>Zowel bij jou thuis of op verplaatsing, voor alle leeftijden en alle gelegenheden. <a href="#" data-toggle="modal" data-target="#homepartyModal">Meer info...</a></p>-->
          </div>
          <div class="col-md-3 wp4 delay-08s">
            <a href="#" data-toggle="modal" data-target="#feestjesModal"><div class="icon box-hover">
              <i class="fa fa-birthday-cake shadow"></i>
            </div></a>
            <h2><a href="#" data-toggle="modal" data-target="#feestjesModal">Feestjes</a></h2>
          </div>
          <div class="col-md-3 wp4 delay-12s">
            <a href="#" data-toggle="modal" data-target="#cursusModal"><div class="icon box-hover">
              <i class="fa fa-graduation-cap shadow"></i>
            </div></a>
            <h2><a href="#" data-toggle="modal" data-target="#cursusModal">Cursus</a></h2>
            <!--<p>Een reeks van acht lessen waarbij we verschillende technieken leren in samenwerking met <a href="http://www.ateljee15.be/">ateljee15</a>. Alle info vind je <a href="http://www.ateljee15.be/content/juweeltjes-maken-najaar-2015">hier</a>.-->
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="workshopModal" tabindex="-1" role="dialog" aria-labelledby="workshopModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="myModalLabel">Workshop</h3>
      </div>
      <div class="modal-body">
        <p>Iedere <strong>eerste</strong> maandag van de maand is er vrij atelier voor &euro;10 per persoon, exclusief materiaal. Iedere <strong>derde</strong> maandag van de maand kan je een voorgesteld juweel maken. Onderstaande lijst geeft hiervan een overzicht. </p><p>Inschrijven en afspreken kan via <a href="mailto:anneke@faskyn.be">mail</a>.</p>
        <br>
        <table class="table">
        <% WorkshopEntry.all.each do |entry| %>
          <tr>
            <td style="max-width: 120px; width: 100px; padding-top: 30px; padding-right: 20px;">
              <div class="calendar">
                <div class="header"><%= entry[:month] %></div>
                <div class="num-day"><%= entry[:day] %></div>
              </div>
            </td>
            <td style="max-width: 150px; padding-top: 30px; padding-bottom: 30px">
              <figure><%= image_tag(entry[:photo], style: "max-width: 100%; height: auto; width: 100%;") %></figure>
              <p><%= entry[:description].gsub(/\n/, '<br><br>') %></p>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="homepartyModal" tabindex="-1" role="dialog" aria-labelledby="homepartyModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="myModalLabel">Home party bij jou thuis</h3>
      </div>
      <div class="modal-body">
        <p>Een sieradenavond bij u thuis is gratis, je voorziet een drankje en krijgt 10% van de opbrengst cadeau om <em>zelf</em> een juweel te kopen.</p><p><a href="mailto:anneke@faskyn.be">Contacteer me</a> voor meer info!</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="feestjesModal" tabindex="-1" role="dialog" aria-labelledby="feestjesModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="myModalLabel">Feestjes</h3>
      </div>
      <div class="modal-body">
        <h4>Kinderfeestje juweeltjes maken</h4>
        <p>Een leuke en geslaagde namiddag met vriendinnetjes voor je verjaardag! &euro;13 per persoon, het maken van een korte ketting, armbandje, drankje en versnapering in begrepen. Duur ongeveer twee uur.</p>
        <h4>Volwassenen</h4>
        <p>Samen een leuk namiddag avond met je vriendinnen voor verjaardag, vrijgezellenavond of gewoon eens samen creatief zijn. &euro;20 per persoon, drankje en hapje inbegrepen. Duur ongeveer twee uur.</p>
        <p><a href="mailto:anneke@faskyn.be">Mail</a> gerust voor meer info!</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cursusModal" tabindex="-1" role="dialog" aria-labelledby="cursusModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="myModalLabel">Cursus</h3>
      </div>
      <div class="modal-body">
        <p>Een reeks van acht lessen waarbij we verschillende technieken leren in samenwerking met <a href="http://www.ateljee15.be/">ateljee15</a>.</p><p>Alle info vind je <a href="http://www.ateljee15.be/content/juweeltjes-maken-najaar-2015">hier</a>.</p>
      </div>
    </div>
  </div>
</div>

<section class="subscribe text-center">
  <div class="container">
    <h1><i class="fa fa-bullhorn fa-4x box-hover"></i><span>Op de hoogte blijven? Geef je gegevens op!</span></h1>
    <%= form_tag({controller: "welcome", action: "newsletter"}, method: "get", remote: true, class: "nifty_form") do %>
      <%= text_field_tag(:name, '', placeholder: "naam", style: "width: 180px;") %>
      <%= text_field_tag(:mailaddress, '', placeholder: "e-mailadres", style: "width: 250px;") %>
	  <%= submit_tag("Verstuur", id: "subscribeNewsletter", data: {disable_with: "Verzenden..."}, onclick: "subscribedNewsletter();") %>
    <% end %>
  </div>
</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
  <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Laat van je horen!</h1>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-map-marker"></i><span>Adres</span></h2>
          <p><a href="https://www.google.be/maps/place/Cyriel+Buyssestraat+4+9850+Nevele" target="_blank">Cyriel Buyssestraat 4, 9850 Nevele</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-mobile"></i><span>Telefoon</span></h2>
          <p>+32 494 14 48 46</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-paper-plane"></i><span>E-mail</span></h2>
          <p><a href="mailto:anneke@faskyn.be">anneke@faskyn.be</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="social-buttons">
          <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
function subscribedNewsletter()
{
 document.getElementById('subscribeNewsletter').value = "Bedankt!";
}
</script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>