<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style="margin-top: 30px;">
            <h1>Configuratiepaneel</h1>
            <p style="float: right; margin-top: -85px">Ga naar de <a href="/shop">webwinkel</a></p>
            <div class="container">
              <h2>Voeg een entry toe</h2>
                <%= form_tag({action: :add_shop_entry}, multipart: true, class: "form-horizontal") do %>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">Prijs (&euro;)</label>
                        <div class="col-sm-2">
                            <%= text_field_tag 'price', nil, placeholder: 'bvb 12', class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Beschrijving</label>
                        <div class="col-sm-10">
                            <%= text_area_tag 'description', nil, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label">Foto-URL</label>
                        <div class="col-sm-10">
                            <%= text_field_tag 'picture', nil, class: "form-control" %>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <%= submit_tag("Voeg toe", data: {disable_with: "Verwerken..."}, class: 'btn btn-default' ) %>
                        </div>
                    </div>
                <% end %>
            </div>
            <hr />
            <div class="container">
              <h2>Verwijder een entry</h2>
                <%= form_tag({action: :delete_shop_entry}, multipart: true, class: "form-horizontal") do %>
                  <div class="form-group">
                      <label for="id" class="col-sm-2 control-label">ID</label>
                      <div class="col-sm-2">
                          <%= text_field_tag 'id', nil, placeholder: 'bvb 92', class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-10 col-sm-offset-2">
                          <%= submit_tag("Verwijder", data: {disable_with: "Verwerken..."}, class: 'btn btn-default' ) %>
                      </div>
                  </div>
                <% end %>
            </div>
        </header>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>