<body style="background-color: white;">

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer" style="margin-top: 30px;">
        <h1>Welkom op de Faskyn webshop!</h1>
        <p>Hieronder vind je de oorbellen, kettingen en ringen die momenteel in de aanbieding zijn. Deze kunnen zowel opgehaald of verzonden worden. De voorwaarden vind je <a href="#" data-toggle="modal" data-target="#voorwaardenModal">hier</a>, de Faskyn website <a href="/">hier</a>.</p>
    </header>

    <div class="modal fade" id="voorwaardenModal" tabindex="-1" role="dialog" aria-labelledby="voorwaardenModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">Algemene voorwaarden</h3>
          </div>
          <div class="modal-body">
            <p>Deze voorwaarden zijn van toepassing op alle bestellingen en overeenkomsten die via deze website tot stand zijn gekomen. 
            Bij iedere bestelling wordt de klant gevraagd deze algemene voorwaarden te aanvaarden.
            Faskyn heeft het recht deze algemene voorwaarden en de inhoud  van de website op iedere ogenblik eenzijdig te wijzigen.</p>
            <h4>Garantie</h4>
            <p>Bij Faskyn worden de aangekochte juwelen gratis hersteld, het gebruikte materiaal wordt wel aangerekend.
            In geval van schade aangebracht door de koper zullen er kosten aangerekend worden voor het herstel.
            Verzendkosten van het te repareren sieraad zijn voor rekening van de koper. Het verzenden van het herstelde sieraad is dan weer op kosten van Faskyn.
            Garantie is niet geldig voor artikelen onder de 10 Euro.</p>
            <h4>Prijzen</h4>
            <p>Alle prijzen zijn inclusief BTW en exclusief verzendkosten.
            Verzendkosten zijn 2.50 Euro per bestelling. Dit is een standaard tarief.
            Wenst u aangetekende verzending gelieve contact op te nemen.</p>
            <h4>Levering en betaling</h4>
            <p>Nadat de bestelling is geplaatst en de vooruitbetaling is gedaan worden de juwelen met zorg verpakt en verstuurd.
            U kan ook je juwelen persoonlijk afhalen, u betaald dan contant bij afhaling.</p>
            <h4>Retourneren</h4>
            <p>Ben je niet tevreden over kleur, model van je juweel kan je steeds retourneren.
            De sieraden dienen ongebruikt, onbeschadigd en in originele verpakking binnen de 10 dagen terug gezonden te worden.
            Na ontvangst zal de som zo vlug mogelijk teruggestort worden exclusief verzendkosten.</p>
            <hr>
            <p>Ondernemingsnummer BE 0631 729 128</p>
          </div>
        </div>
      </div>
    </div>

    <div id="preloader" class="text-center">
      <%= image_tag('preloader2.gif') %>
      <br><br><br>
    </div>
    <!-- Page Features -->
    <ul id="img-container" class="tiles-wrap">
      <% ShopEntry.order(created_at: :desc).all.each do |entry| %>
         <li class="text-left" style="width: 250px; padding-bottom: 10px;">
            <a href="#" data-toggle="modal" data-target="#<%= entry[:id] %>ModalPhoto">
              <%= image_tag("#{entry[:photo]}", style: "width: 100%")%>
            </a>
            <div class="caption" style="margin: 10px 5px 15px 5px;">
            <% if !entry[:sold] || entry[:sold].nil? %>
                <a href="#" class="btn btn-default pull-left text-left" data-toggle="modal" data-target="#<%= entry[:id] %>Modal"><strong>&euro;<%= entry[:price] %></strong> &ndash; Koop nu</a>
            <% else %>
                <a href="#" class="btn btn-default pull-left text-left disabled" data-toggle="modal" data-target="#<%= entry[:id] %>Modal"><strong>&euro;<%= entry[:price] %></strong> &ndash; Verkocht</a>
            <% end %>
                <div class="pull-right" style="margin-top: 7px;"><i class="fa fa-tag fa-lg" style="max-width:600px; white-space: pre-wrap;" data-toggle="tooltip" data-html="true" title="<strong>Identificatie: ID<%= entry[:id] %></strong><hr><%= entry[:description].gsub(/\n/, '<br><br>') %> "></i></div>    
            </div>
        </li>
      <% end %>
    </ul>
    <p class="text-center">Problemen bij het laden van de pagina? <a href="" onclick="location.reload();">Refresh</a> dan even!</p>

    <% ShopEntry.order(created_at: :desc).all.each do |entry| %>
      <div class="modal fade" id="<%= entry[:id] %>Modal" tabindex="-1" role="dialog" aria-labelledby="<%= entry[:id] %>Modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title" id="myModalLabel">Bestelprocedure</h3>
            </div>
            <div class="modal-body text-left">
              <h4>Thuis ophalen</h4>
              <p>Indien u de juwelen kan komen ophalen te Nevele, laat ons dit dan even weten met behulp van onderstaand formulier en u wordt zo snel mogelijk gecontacteerd!</p>
              <%= form_tag({action: :order_entry1}, multipart: true, class: "form-horizontal") do %>
                  <div class="form-group">
                      <label for="name" class="col-sm-3 control-label">Naam</label>
                      <div class="col-sm-9">
                          <%= text_field_tag 'name', nil, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">E-mailadres</label>
                      <div class="col-sm-9">
                          <%= email_field_tag 'email', nil, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <%= submit_tag("Verzend", data: {disable_with: "Verwerken..."}, class: 'btn btn-default' ) %>
                      </div>
                  </div>
                  <%= hidden_field_tag 'id', entry[:id] %>
              <% end %>
              <h4>Verzenden per post</h4>
              <p>U kan de juwelen niet komen ophalen? Geen nood, ze kunnen ook per post opgestuurd worden. Hiervoor wordt er een standaardtarief van &euro;2.5 aangerekend. U kan het totale bedrag van <strong>&euro;<%= (entry[:price].to_i+2.5) %></strong> storten op rekening <strong>BE42 7360 1339 4754</strong>. Vergeet zeker niet het ID van deze bestelling (<strong>ID<%= entry[:id] %></strong>) bij de betaling te vermelden. Van zodra de betaling ontvangen is worden de juwelen met zorg verpakt en opgestuurd. Indien u een aangekondigde zending wenst kan u ons best even <a href="mailto:anneke@faskyn.be">mailen</a>.</p>
              <%= form_tag({action: :order_entry2}, multipart: true, class: "form-horizontal") do %>
                  <div class="form-group">
                      <label for="name" class="col-sm-3 control-label">Naam</label>
                      <div class="col-sm-9">
                          <%= text_field_tag 'name', nil, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">E-mailadres</label>
                      <div class="col-sm-9">
                          <%= email_field_tag 'email', nil, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Straat en nummer</label>
                      <div class="col-sm-7">
                          <%= text_field_tag 'street', nil, class: "form-control" %>
                      </div>
                      <div class="col-sm-2">
                          <%= text_field_tag 'streetnumber', nil, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-3 control-label">Postcode en gemeente</label>
                      <div class="col-sm-2">
                          <%= text_field_tag 'postalcode', nil, class: "form-control" %>
                      </div>
                      <div class="col-sm-7">
                          <%= text_field_tag 'city', nil, class: "form-control" %>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                          <%= submit_tag("Verzend", data: {disable_with: "Verwerken..."}, class: 'btn btn-default' ) %>
                      </div>
                  </div>
                  <%= hidden_field_tag 'id', entry[:id] %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="<%= entry[:id] %>ModalPhoto" tabindex="-1" role="dialog" aria-labelledby="<%= entry[:id] %>ModalPhoto" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <%= image_tag("#{entry[:photo]}", style: "width: 100%;")%>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Footer -->
    <footer>
      <div class="container">
            <ul class="legals">
              <li><a href="#" data-toggle="modal" data-target="#voorwaardenModal">Voorwaarden</a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="mailto:anneke@faskyn.be">Contact</a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;<a href="www.faskyn.be">Faskyn <%= Time.now.year %></a>&nbsp;&nbsp;</li>
              <li>&nbsp;&nbsp;Ondernemingsnummer BE 0631 729 128
            </ul>
        </div>
      </div>
    </footer>
  </div>
  <!-- /.container -->

  <br>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });
    $(window).load(function() {
      $('.tiles-wrap').wookmark({
        // Prepare layout options.
        autoResize: true, // This will auto-update the layout when the browser window is resized.
        offset: 30, // Optional, the distance between grid items
        outerOffset: 20, // Optional, the distance to the containers border
        itemWidth: 250 // Optional, the width of a grid item
      });
      setTimeout(function() {
        $('.tiles-wrap').trigger('refreshWookmark');
      }, 500);
    });
    $('#img-container').imagesLoaded(function() {
      $('#preloader').hide();
    });
  </script>
</body>